.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #131921;
    z-index: 100;
}

.logo {
    width: 100px;
    object-fit: contain;
    margin: 18px 20px 0 20px;
    cursor: pointer;
}

.search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.input {
    width: 100%;
    height: 12px;
    border: none;
    padding: 15px;
    outline-width: 0;
}

.search .icon {
    height: 30px !important;
    width: 33px !important;
    background-color: #cd9042;
    padding: 4px;
}

.lineOne {
    font-size: 0.7rem;
}

.lineTwo {
    font-size: 0.8rem;
    font-weight: 800;
}

.basket {
    display: flex;
    align-items: center;
    color: #fff;
}

.count {
    margin: 0 10px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

.option {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    color: #fff;
}